/* @import url('https://fonts.cdnfonts.com/css/georgia'); */
@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local('Georgia'), url('/fonts/Georgia-PersonalUse.woff') format('woff');
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: Georgia, ui-serif, Cambria, "Times New Roman", Times, serif;
}

.masonry {
  columns: 2;
}

/* tailwind md: */

@media (width >= 48rem) {
  .masonry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }
}